
/* Yrsa fonts */

@import url('https://fonts.googleapis.com/css?family=Yrsa:400,600');

html, body {
  background: #f8f8f8;
}

body, li, p, h1, h2, h3, h4, h5 {
  color: #111;
  font-family: Yrsa, serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 150%;
}

section {
  width: 1000px;
  padding: 3em 10% 5em 15%;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h1 {
  font-size: 2.5em;
  margin: 1.2em 0 0.5em;
}

h2 {
  font-size: 1.2em;
  margin: 1.5em 0 0.5em;
}

p {
  margin: 1em 0;
}

strong {
  font-weight: 600;
}

ul {
  padding-left: 0;
}

li {
  font-size: 0.8em;
}

a {
  font-weight: 600;
  color: rgb(254, 23, 113);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.gray {
  color: #212121;
}

.hide {
  display: none;
}

/*
@media (max-width: 767px) {
	body {
		width: 100%;
	}

	.container {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	h3 {
		font-size: 1em;
	}

	p {
		width: 100%;
	}

	p > a.primary, p > a.secondary {
		display: block;
		margin: 10px;
		width: auto;
	}

	img {
		max-width: 100%;
	}
}*/