
/* Yrsa fonts from Google */

@import url('https://fonts.googleapis.com/css?family=Yrsa:400,600');

/* General */

html, body {
  background: #f8f8f8;
}

body, li, p, h1, h2, h3, h4, h5 {
  color: #111;
  font-family: Yrsa, serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}

section {
  width: 1000px;
  padding: 3em 10% 5em 10%;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h1 {
  font-size: 2em;
  margin: 1.2em 0 0.5em;
}

h2 {
  font-size: 1.2em;
  margin: 1.5em 0 0.5em;
}

p {
  margin: 1em 0;
  font-size: 31px;
  max-width: 1000px;
}

strong {
  font-weight: 600;
}

ul {
  padding-left: 0;
}

a {
  font-weight: 600;
  color: rgb(254, 23, 113);
  text-decoration: none;
  border-bottom: 2px solid rgba(254, 23, 113, 0.5);
}

a:hover {
  text-decoration: none;
  background-color: rgba(254, 23, 113, 0.1);
  border-bottom: 2px solid rgba(254, 23, 113, 0.5);
}

.gray {
  color: #212121;
}

.hide {
  display: none;
}

/* Responsive */

@media (max-width: 1150px) {
  section {
    width: 88%;
    padding: 1em 7% 3em 5%;
  }
  body, li, p, h1, h2, h3, h4, h5 {
    font-size: 24px;
  }
  p {
    font-size: 27px;
  }
}

@media (max-width: 800px) {
  section {
    width: 90%;
    padding: 1em 5% 3em 5%;
  }
  body, li, p, h1, h2, h3, h4, h5 {
    font-size: 24px;
  }
}