<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>

    <meta name="description" content="{{ site.description }}">

    <!-- styles -->
    <link rel="stylesheet" href="/assets/styles.css">

    <!-- me, myself, and I -->
    <link rel="me" href="https://mrbrezina.com/">
    <link rel="me" href="https://github.com/mrbrezina">
    <link rel="me" href="https://orcid.org/0009-0007-4410-0133">

    <!-- favicons -->
    <link rel="icon" href="{{ 'assets/favicon/favicon.ico' | relative_url }}" sizes="any">
    <link rel="icon" href="{{ 'assets/favicon/favicon.svg' | relative_url }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ 'assets/favicon/apple-touch-icon.png' | relative_url }}">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <link rel="manifest" href="{{ 'assets/favicon/site.webmanifest' | relative_url }}">
    <meta name="theme-color" content="#784DCE">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />

    <!-- OG and Twitter -->
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="{{ site.sharing_image | absolute_url }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:image" content="{{ site.sharing_image | absolute_url }}" />

    <!-- visitor analytics -->
    <script async defer data-domain="mrbrezina.com" src="https://plausible.io/js/plausible.js"></script>
</head>

<body>
  <section>
    {{ content }}
  
    <!-- Bibliography (APA styůe) -->
    {% for cat in site.data.data.categories %}
    <h2 id="#{{ cat.name | slugify: "latin" }}">{{ cat.name }}</h2>
    <ul>
      {% for p in cat.items %}
      <li>
        {% assign authors = "" %}
        {% for a in p.authors %}
          {% assign names = a | split: ", " %}
          {% assign first_names = names[1] | split: " " %}
          {% if first_names.size > 0 %}
            {% assign name = names[0] | append: ", " %}
            {% for fn in first_names %}
              {% assign name = fn | slice: 0 | prepend: name | append: ". "%}
            {% endfor %}
          {% else %}
            {% assign name = names[0] %}
          {% endif %}
          {% if a == p.authors.first and a == p.authors.last %}
            {% assign authors = name | strip %}
          {% elsif a != p.authors.last %}
            {% assign authors = name | strip | prepend: authors | append: ", " %}
          {% else %}
            {% assign authors = name | strip | prepend: "& " | prepend: authors %}
          {% endif %}
        {% endfor %}

        {{ authors }}


        {% if p.date %}
        ({{ p.date | date: "%Y"}}).
        {% endif %}
        
        {% if p.url %}
        {% capture title %}<a href="{{p.url}}">{{ p.title }}</a>{% endcapture %}
        {% else %}
        {% capture title %}{{ p.title }}{% endcapture %}
        {% endif %}


        {% if p.publication %}
        {{ title }}. <em>{{p.publication}}</em>{% if p.volume %}, <em>{{p.volume}}</em>{% endif %}{% if p.issue %}({{p.issue}}){% endif %}.
        {% else %}
        <em>{{ title }}</em>.
        {% endif %}
        
        {% if p.publisher %}
          {{ p.publisher}}{% if p.location %}, {{ p.location}}{% endif %}.
        {% else %}
          {% if p.location %}
            {{ p.location}}.
          {% endif %}
        {% endif %}

        {% if p.note %}
          ({{ p.note }})
        {% endif %}

        {% if p.doi %}
          <a href="{{ p.doi}}">{{ p.doi}}</a>
        {% endif %}

        {% if p.recording %}
          (<a href="{{ p.recording}}">watch the recording</a>)
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </section>
</body>
</html>
